.sider{
    overflow: 'auto';
    height: '100vh'; position: 'fixed';
    left: 0;
    top: 0;
    bottom: 0;
}
.sider > div:first-child{
    position: fixed;
    width: inherit;
}
.siderMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100vh - 48px); */
    height: calc(100vh - 170px);
    /* position: fixed;
    width: inherit; */
}

.innerLayout{
    flex: 1;
    overflow-x: scroll;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: -webkit-fill-available;
    position: fixed;
}