.card{
    border-radius: 6px;
    padding: 0 !important;
    /* width: 300px; */
}
.avatars{
    display: flex;
    justify-content: flex-end;
}
.ribbon{
    left: 24px;
    top: -25px;
}

.bodyLayout{
    display: flex;
    /* justify-content: space-between; */
}

.innerBody{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.generalInfo, .innerBody{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.generalInfo > div, .actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actions{
    margin-left: 24px;
}
.actions > div{
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.actions > div > button{
    margin: 8px;
}
.generalInfo > div > p, .innerBody > div > p{
    font-size: small;
}
.priority > div{
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.subtaskBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subtaskBody > div > p, .description > p{
    margin: 0;
    font-size: small;
}
.description{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
.header > p{
    margin: 0;
    font-size: 20px;
    font-weight: semibold;
}

.header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.modal{
    max-height: 90vh;
    overflow: scroll;
}